NODE_ENV=development
POSTGRES_USER=kyykkakirjuri
POSTGRES_PASSWORD=kyykkakirjuri
POSTGRES_DB=kyykkakirjuri
DATABASE_URL=postgres://kyykkakirjuri:kyykkakirjuri@localhost:54326/kyykkakirjuri
POSTGRES_HOST_PORT=54326

# Generate a secret key: `npx -y @better-auth/cli secret`
BETTER_AUTH_SECRET=
VITE_BETTER_AUTH_URL=

AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
